:root {
  --Softred: hsl(14, 88%, 65%);
  --Softviolet: hsl(273, 75%, 66%);
  --Softblue: hsl(240, 73%, 65%);
  --darkgrayishblue: hsl(237, 12%, 33%);
  --darkdesaturatedblue: hsl(238, 29%, 16%);
  --darkgrayishblue: hsl(240, 6%, 50%);

  --body-copy: .75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--Softviolet), var(--Softblue));
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

main {
  width: 23.5rem;
  height: 47rem;
  background-color: white;
  background-image: url(images/bg-pattern-mobile.svg), url(images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-position: 50% 0, 50% -25%;
  background-size: 80%;
  overflow-y: visible;
}

/* .graphic {
  width: auto;
  height: 230px;
  background-image: url(images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-position:  center -115px;
  background-size: 80%;
  overflow: visible;
} */

footer {
  position: fixed;
  bottom: 0;
}
