* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  background-color: white;
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 70vw;
  padding: 24px 24px 24px 24px;
  border-radius: 24px;
}

.graphic {
  width: 70vw;
  margin-top: -45%;
}

.question,
.answer {
  font-size: 12px;
  font-weight: 400;
  color: hsl(238, 29%, 16%);
  line-height: 16px;
  padding: 16px 4px 16px 0;
}

.answer {
  font-size: 12px;
  padding: 0px 4px 12px 0;
  line-height: 18px;
}

.questions > div {
  border-bottom: 1px solid hsl(240, 6%, 50%);
}

.quest-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(14, 88%, 65%);
  font-weight: 700;
}

h1 {
  text-align: center;
  font-weight: 700;
  padding: 48px 0 24px 0;
}

.active {
  font-weight: 700;
}

.hidden {
  display: none;
}

.attribution {
  position: fixed;
  bottom: 12px;
  text-align: center;
  font-size: 10px;
  color: white;
}

a {
  text-decoration: none;
  color: hsl(240, 6%, 80%);
}

a:hover {
  color: hsl(240, 6%, 70%);
}

@media (min-width: 600px) {
  main {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    justify-content: center;
    padding: 24px;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: -40vw;
    background-position-y: -15vw;
    background-size: 65vw;
  }
  .graphic img {
    position: absolute;
    transform: translateX(-25%);
    padding-right: 12px;
    height: 25vw;
  }
  h1 {
    text-align: left;
    padding: 24px 0px;
  }
}
